:root{
    --page-width: 60%
}

body {
    height: 100vh;
}

.wrapper {
    min-height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0 calc((100% - var(--page-width)) / 2);
    width: 60%;
}

.header {
    text-align: center;
}

.main {
    flex: 1;
}

.chart {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}